/* Variables */
:root {
    --first-color: #f7f7f7;
    --second-color: #eeeeee;
    --third-color: #393e46;
    --fourth-color: #929aab;
}

/* Globales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.container {
    display: grid;
    place-items: center;
}

/* Header */
header {
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--fourth-color);
}
.header-logo-container img {
    height: 60px;
    object-fit: contain;
}
.nav-list-items {
    width: 400px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    list-style: none;
}
.nav-list-items .nav-item {
    width: 100%;
    height: 100%;
}
.nav-list-items .nav-item a {
    height: 100%;
    width: 100%;
    padding: calc((70px - 2rem)/2) 0;
    display: inline-block;
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
}
.nav-list-items .nav-item a:hover {
    color: var(--second-color);
    background-color: var(--third-color);
}