/* Variables */
:root {
    --first-color: #f7f7f7;
    --second-color: #eeeeee;
    --third-color: #393e46;
    --fourth-color: #929aab;
    --header-height: 70px;
    --footer-height: 30px;
    --main-height: calc(100vh - ((var(--header-height) + var(--footer-height))));

    /* Actual colors */
    --pink-color: #FF69B4;
    --blue-color: #4169E1;
    --white-color: white;
    --black-color: black;
}

/* Globales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.grid-container {
    max-width: 1120px;
    display: grid;
}